<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <!-- Configurations for data collectors -->
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="browserType" value="chrome" />
    <Parameter name="appUrl" value="http://abelmercuryhealth-dev.azurewebsites.net" />
    <Parameter name="applitoolsKey" value="3P7MdEi4EmMpT7mXOKAACHNYA11082kFXHWYTqNUMP4Ys110" />
  </TestRunParameters>
  <!-- Adapter Specific sections -->
  <!-- MSTest adapter -->
</RunSettings>
