<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net452" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Data" version="6.0.1304.1" targetFramework="net452" />
  <package id="Eyes.Sdk" version="2.22.14" targetFramework="net452" />
  <package id="Eyes.Selenium" version="2.22.15" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.Metrics" version="2.9.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net452" />
  <package id="Selenium.PhantomJS.WebDriver" version="2.1.1" targetFramework="net452" />
  <package id="Selenium.Support" version="4.0.0-alpha01" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha01" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="75.0.3770.90" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.141.59" targetFramework="net452" />
  <package id="Selenium.WebDriver.PhantomJS" version="1.0.0.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.PhantomJS.CrossPlatform" version="2.1.1" targetFramework="net452" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net452" />
</packages>